<p>Hello {{ user.username }},</p>
{% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<p>You requested a password reset. Click the link below to reset your password:</p>
<p><a href="{{ reset_link }}" style="display: inline-block; background-color: #007BFF; color: white; padding: 10px 20px; text-align: center; text-decoration: none; border-radius: 5px;">Reset my password</a></p>
<p>If you did not request a password reset, please ignore this email.</p>
